:root {
  --accent-primary: #040435;
  --accent-background: #f1f5fe;
  --active-primary: #033e9e;
  --action-light: #f0f2f5;
  --action-disabled: #f7f8fa;

  --background-surface: #fff;
  --border-dark: #bec2cc;
  --border-disabled: #d4d4d4;

  --text-primary: #2b2e33;
  --text-contrast: #fff;
  --text-hint: #bec2cc;
  --text-secondary: #6c7380;
  --text-disabled: #a1a7b2;

  --bg-light: #e4ebfa;
  --background-light: #f7f8fa;

  --error-primary: #ff142d;
}
